@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --black: rgb(22, 22, 22);
  --white: rgb(238, 238, 238);
  --orange: orange;
  --blue: #a2a2a2b6;
  --primary: #3a80e9;
  --grey: rgb(156, 155, 155);
  --red: rgb(245, 31, 31);
  --green: rgb(1, 171, 1);
}

.light {
  --black: rgb(22, 22, 22);
  --white: rgb(245, 245, 245);
  --grey: rgb(71, 71, 71);
  --darkgrey: rgb(215, 215, 215);
}
.dark {

  --black: rgb(245, 245, 245);
  --white: rgb(22, 22, 22);
  --grey: rgb(125, 124, 124);
  --darkgrey: rgb(32, 32, 32);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}


/* disable image dragging */
img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}
body {
  color: var(--black);
  background-color: var(--white);
  font-family: "Inter", sans-serif;
}
::selection {
  background-color: var(--primary);
  color: var(--white);
}
/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 0.5rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.grey-wrapper {
  background-color: var(--darkgrey);
  border-radius: 0.8rem;
  display: block;
  width: 90%;
  margin: 1.5rem auto;
  padding: 0.5rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.coin-days-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 2.5rem;
}
.WatchListIcon {
  position: absolute;
  top: 0.05rem;
  right: 0.05rem;
  z-index: 100;
}

.IconW {
  font-size: 2rem;
}
.watchlistEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}
section {
  width: 100vw;
  min-height: 100vh;
  height: fit-content;
}

@media only screen and (max-width: 768px) {
  .IconW {
    font-size: 1.5rem !important;
  }
  .coin-days-flex {
    gap: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
